doctype html
html
  head
    title Kevin Dance Academy
    block scripts
    block style   
  body
    nav#navbar
        ul
            div#logo 
              img(src="/static/logo.png.png")  
              | KDA
            li #[a(href="/") Home]
            li #[a(href="/") About] 
            li #[a(href="/") Service] 
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]          
    block content
    block foot
    footer#footer 
        | Copyright @ 2019 KevinDanceAcademy.com | All rights reserved

    